<div class="registration">
    <h2 class="registration__title">Регистрация</h2>

    <div class="registration__wrapper">
        <div class="row">
            <label class="registration__input-wrapper">
                <span class="registration__input-title">
                    E-mail
                </span>

                <input class="registration__input" type="text" value={{email}} />
            </label>

            <label class="registration__input-wrapper">
                <span class="registration__input-title">
                    Логин
                </span>

                <input class="registration__input" type="text" value={{login}} />
            </label>
        </div>

        <div class="row">
            <label class="registration__input-wrapper">
                <span class="registration__input-title">
                    Имя
                </span>

                <input class="registration__input" type="text" value={{first_name}} />
            </label>

            <label class="registration__input-wrapper">
                <span class="registration__input-title">
                    Фамилия
                </span>

                <input class="registration__input" type="text" value={{second_name}} />
            </label>
        </div>

        <div class="row">
            <label class="registration__input-wrapper">
                <span class="registration__input-title">
                    Телефон
                </span>

                <input class="registration__input" type="text" value={{phone}} />
            </label>
        </div>

        <div class="line"></div>

        <div class="row">
            <label class="registration__input-wrapper">
                <span class="registration__input-title">
                    Пароль
                </span>

                <input class="registration__input" type="password" value={{password}} />
            </label>

            <label class="registration__input-wrapper">
                <span class="registration__input-title">
                    Повторите пароль
                </span>

                <input class="registration__input" type="password" />
            </label>
        </div>

        {{> button class="registration__button" title="Зарегистрироваться"}}

        <div class="registration__link">
            <a href="/login">
                Войти
            </a>
        </div>
    </div>
</div>
